*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Ensure the body and html take up the full height of the viewport */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

/* Ensure the map container takes up the full height and width */
#map {
    height: 100%;
    width: 100%;
}